DEEPSEEK_API_KEY=
OPENAI_API_KEY=
DASHSCOPE_API_KEY=

OPENAI_API_BASE=https://api.deepseek.com
LLM_MODEL_NAME=deepseek-chat

EMBEDDING_MODEL_NAME=BAAI/bge-m3
RERANKER_MODEL_NAME=BAAI/bge-reranker-large

CAR_RAG_COLLECTION=car_dtc_collection_v2
